.status-bar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.status-bar__time {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 11px;
}

.status-bar__icons img:not(:last-child){
    margin-right: 5px;
}